<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión Sesión Emoción</title>

    <link rel="stylesheet" href="/CSS/menu.css">
    <link rel="stylesheet" href="SesionEmocion.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static '/img/loto333.png' %}" sizes="16x16 24x24 36x36 48x48">


    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        <div class="logo">
            <a href="principalAdmin.html">
                <img src="/img/nameb.jpg" alt="">
            </a>
        </div>


        <div class="menu">

            
            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div>
              </div>



            <div class="dropdown">
                <a class="btn_gestionar">Gestionar</a>
                <div class="dropdown-content">
                    <a href="">Sesión Emoción</a>
                    <a href="">Buscar</a>
                    <a href="Procesos/Agregar/agregarSesionEmocion.html">Agregar</a>
                    <a href="Procesos/Actualizar/actualizarSesionEmocion.html">Actualizar</a>
                    <a href="Procesos/Eliminar/eliminarSesionEmocion.html">Eliminar</a>

                </div>
            </div>

            <a href="/login.html" class="btn_inicio">Cerrar Sesión</a>



            
        </div>


    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <i><img src="/img/loto11.png"></i>
            <h4>LED EMOTIONS POWER</h4>
        </div>

        <div class="options__menu">	

            <a href="/principalAdmin.html">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="/Form_Usuarios/usuario.html">
                <div class="option">
                    <i class="far fa-user" title="Usuarios"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            
            <a href="/Form_SesionTerapia/SesionTerapia.html" class="selected">
                <div class="option">
                    <i class="fas fa-heart" title="Terapia"></i>
                    <h4>Sesión Terapia</h4>
                </div>
            </a>

            <a href="/Form_Emociones/emociones.html">
                <div class="option">
                    <i class="far fa-smile" title="Blog"></i>
                    <h4>Emociones</h4>
                </div>
            </a>

            <a href="/Form_Multimedia/Multimedia.html">
                <div class="option">
                    <i class="fa fa-play" title="Contacto"></i>
                    <h4>Multimedia</h4>
                </div>
            </a>

            <a href="/Form_ConexionLed/ConexionLed.html">
                <div class="option">
                    <i class="fa fa-lightbulb-o" title="Nosotros"></i>
                    <h4>Conexión LED</h4>
                </div>
            </a>

            <a href="/Form_Configuración/configuracion.html">
                <div class="option">
                    <i class="fa fa-cog" title="Nosotros"></i>
                    <h4>Configuración</h4>
                </div>
            </a>

        </div>

    </div>

    <section class="contenido">
        <div class="intro">
            <h3>GESTIÓN SESION - EMOCIONES</h3>
            <h3>Aqui podras gestionar cada cosa importante</h3>

            <img id="intro" src="https://3.bp.blogspot.com/-j3NVG6VTQ34/XAHk5OhWC2I/AAAAAAAABfM/B9nhC1eOZ0wJtHQMEfJwdUmXvxCJXFdNACLcBGAs/s1600/emociones.gif" alt="">
        </div>
    </section>


   
    <script src="/JS/scrip.js"></script>
</body>
</html>