{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multimedia</title>
    <link rel="stylesheet" href="/CSS/menu.css">
    <link rel="stylesheet" href="CSS/datosMultimedia.css">
    
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static '/img/loto333.png' %}" sizes="16x16 24x24 36x36 48x48">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        <div class="logo">
            <a href="principalUser.html">
                <img src="/img/nameb.jpg" alt="">
            </a>
        </div>


        <div class="menu">

            
            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div>
              </div>

            <a href="/login.html" class="btn_inicio">Cerrar Sesión</a>
            

            
        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <i><img src="/img/loto11.png"></i>
            <h4>LED EMOTIONS POWER</h4>
        </div>

        <div class="options__menu">	

            <a href="/principalUser.html">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <i class="fa fa-lightbulb-o" title="Sesión Terapia"></i>
                    <h4>Sesión Terapia</h4>
                </div>
            </a>
            
            <a href="/Usuario_Contenido/datosMultimedia.html" class="selected">
                <div class="option">
                    <i class="fa fa-spinner" title="Multimedia"></i>
                    <h4>Multimedia</h4>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <i class="fa fa-bluetooth-b" title="Conexión LED"></i>
                    <h4>Conexión LED</h4>
                </div>
            </a>

            <a href="configuracion.html">
                <div class="option">
                    <i class="fa fa-cog" title="Configuración"></i>
                    <h4>Configuración</h4>
                </div>
            </a>

        </div>

    </div>


    <main>
        <div class="cards">
            <div class="card amarrillo">

                <div class="felicidad">
                    <a href="frasesMultimedia.html">
                        <img src="/img/felicidad.png" alt="">
                    </a>
                </div>
                
                <p class="tip">Frases Motivacionales</p>
                <p class="second-text">Lorem Ipsum</p>
                
            </div>
            <div class="card azul">

                <div class="microfono">
                    <a href="#">
                        <img src="/img/microfono.png" alt="">
                    </a>
                </div>
                <p class="tip">Posdcat</p>
                <p class="second-text">Lorem Ipsum</p>
            </div>
        </div>

        <div class="cardsd">
            <div class="card rosa">
                <div class="videos">
                    <a href="#">
                        <img src="https://cdn-icons-png.flaticon.com/512/4404/4404094.png" alt="">
                    </a>
                </div>
                <p class="tip">Videos</p>
                <p class="second-text">Lorem Ipsum</p>
            </div>
            <div class="card gris">
                <div class="musica">
                    <a href="#">
                        <img src="/img/musica.png" alt="">
                    </a>
                </div>
                <p class="tip">Musica</p>
                <p class="second-text">Lorem Ipsum</p>
            </div>
        </div>
    </main>

   
    <script src="/JS/scrip.js"></script>
</body>
</html>