<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frases Motivacionales</title>
    <link rel="stylesheet" href="/CSS/menu.css">
    <link rel="stylesheet" href="CSS/frasesMultimedia.css">
    
    <link rel="icon" type="image/vnd.microsoft.icon" href="/img/loto333.png" sizes="16x16 24x24 36x36 48x48">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars" id="btn_open"></i>
        </div>

        <div class="logo">
            <a href="/principalUser.html">
                <img src="/img/nameb.jpg" alt="">
            </a>
        </div>


        <div class="menu">

            
            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input type="search" id="search" placeholder="Search..." />
                </div>
              </div>

            <a href="/login.html" class="btn_inicio">Cerrar Sesión</a>
            

            
        </div>

    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <i><img src="/img/loto11.png"></i>
            <h4>LED EMOTIONS POWER</h4>
        </div>

        <div class="options__menu">	

            <a href="/principalUser.html">
                <div class="option">
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <i class="fa fa-lightbulb-o" title="Sesión Terapia"></i>
                    <h4>Sesión Terapia</h4>
                </div>
            </a>
            
            <a href="/Usuario_Contenido/datosMultimedia.html"  class="selected">
                <div class="option">
                    <i class="fa fa-spinner" title="Multimedia"></i>
                    <h4>Multimedia</h4>
                </div>
            </a>

            <a href="">
                <div class="option">
                    <i class="fa fa-bluetooth-b" title="Conexión LED"></i>
                    <h4>Conexión LED</h4>
                </div>
            </a>

            <a href="configuracion.html">
                <div class="option">
                    <i class="fa fa-cog" title="Configuración"></i>
                    <h4>Configuración</h4>
                </div>
            </a>

        </div>

    </div>


    <main>
                <!--CAJITA DE UNO-->

                <div class="cajitas__mensaje"> 
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/imag1.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>Una vida alegre es una creación individual que no puedes copiar de otros </p>
                        </div>
                    </div>
        
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/imag2.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>La vida no se trata de tener más, sino de vivir</p>
                        </div>
                
                    </div>
        
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/corazon.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>Nunca se es muy viejo para tener nuevos sueños. </p>
                        </div>
                    </div>
                </div>
        
                <!--CAJITA DE DOS-->
        
                <div class="cajitas__mensaje"> 
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/imag3.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>El triunfo de las personas surge de las cenizas de los errores</p>
                        </div>
                    </div>
        
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/img4.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>Amarse a uno mismo es la mejor aventura que tendrás en la vida.</p>
                        </div>
                
                    </div>
        
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/img5.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>Los cambios vienen con una sacudida. No creas que es el fin del mundo, sino el inicio de algo mejor. </p>
                        </div>
                    </div>
                </div>
        
                <!--CAJITA DE TRES-->
        
                <div class="cajitas__mensaje"> 
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/img6.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>Las personas positivas convierten sus retos en obstáculos</p>
                        </div>
                    </div>
        
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/img7.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>Las cosas más bellas del mundo no se ven ni se tocan: se sienten con el corazón. </p>
                        </div>
                
                    </div>
        
                    <div class="mensajito">
                        <div class="icons">
                            <img src="/IMG/loto11.png" alt="">
                        </div>
                    
                        <div class="mensaje">
                            <h3>-------------</h3>
                            <p>La felicidad no está ahí afuera para que la encuentres. La razón de eso es que se encuentra dentro de ti.  </p>
                        </div>
                    </div>
                </div>
    </main>

   
    <script src="/JS/scrip.js"></script>
</body>
</html>