<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Contraseña</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/loto333.png" sizes="16x16 24x24 36x36 48x48">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="CSS/CodigoCuenta.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="/JS/codigoPass.js" defer></script>

</head>
<body>

    <!--Menu-->
    <header>
        <div class="contenedor__header">
            <div class="logo">
                <a href="index.html">
                    <img src="img/logoblanco.jpg" alt="">
                </a>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="index.html">Nosotros</a></li>
                        <li><a href="Servicios.html">Nuestros Servicios</a></li>
                        <li><a href="cromoterapia.html">¿Qué es Cromoterapia?</a></li>
                        <!--<li><a href="Eliminar.html">Eliminar</a></li>-->
                        <!--<li><a href="Bucar.html">Buscar</a></li>-->
                    </ul>
                </nav>
                
            </div>
        </div>
    </header>

    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="container">
            <div class="from">
            <h2>Ingrese el Código de Verificación</h2>
            <form>
                <div class="inputBox">

                <input id="codigo" type="text" maxlength="4" placeholder="Código Verificación">
                </div>

                <div id="respuestaCode"></div>
                <div class="inputBox" id="btnInicio">
                    <a class="enviarCode">ENVIAR</a>
                </div>
                
                <p class="forget">¿Ya tienes cuenta?<a href="login.html">INICIAR SESIÓN</a></p>
                <p class="info">*Recuerda revisar la sección de Spam por si no encuentras el correo de Verificación.</p>
            </form>
            </div>
        </div>
        </div>
    </section>
</body>
</html>