<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/loto333.png" sizes="16x16 24x24 36x36 48x48">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
    <script src="JS/java_led.js" defer></script>
    <script src="https://kit.fontawesome.com/c77f95377c.js" crossorigin="anonymous"></script>
    <title>LED: Emotions Power</title>
</head>
<body>
    <!--Menu-->
    <header>
        <div class="contenedor__header">
            <div class="logo">
                <a href="index.html">
                    <img src="img/logoblanco.jpg" alt="">
                </a>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="Servicios.html">Nuestros Servicios</a></li>
                        <li><a href="cromoterapia.html">¿Qué es Cromoterapia?</a></li>
                        <!--<li><a href="Eliminar.html">Eliminar</a></li>-->
                        <!--<li><a href="Bucar.html">Buscar</a></li>-->
                    </ul>
                </nav>

                <a href="login.html" class="btn_inicio">Iniciar Sesión</a>
                
            </div>
        </div>
    </header>

    <main>
        <!--PORTADA DE INICIO-->
        <div class="portada__inicio div__offset">
            <div class="inicio" id="inicio">
                <section class="text_inicio">
                    <h1>Renace como tu mejor versión</h1>
                    <p>LED Emotions Power es una herramienta que propone un cambio y un medio de relajación 
                        para aquellas personas que buscan y/o necesitan alguna alternativa en el manejo de 
                       sus emociones, de tal manera busca no solo ser un medio de relajación, sino también un
                        escape del estrés y otras emociones negativas que sobrellevan las personas.
                    </p>
                    <a href="registrarse.html" class="btn__text-inicio">Registrate</a>
                </section>
                <section class="img__inicio">
                    <img src="img/renace6.png" alt="">

                </section>

            </div>
        </div>

        <!--CONTENIDO1 TARJETAS-->

        <div class="container__trust container__card-primary">
            <div class="trust card__primary">
                <div class="text__trust text__card-primary">
                    <h1>¡Este espacio es para ti, aprovecha nuestras herramientas al máximo!</h1>
                </div>
                <div class="container__trust container__box-cardPrimary">
                    <div class="card__trust box__card-primary">
                        <a href="Servicios.html">
                            <img class="img" src="img/ficha2.png" alt="">
                            <h2>Servicios</h2>
                        </a>
                    </div>
                    <div class="card__trust box__card-primary">
                        <a href="cromoterapia.html">
                            <img class="img" src="img/ficha1.png" alt="">
                            <h2>Cromoterapia</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        



    <!--CONTENIDO2-->
    <section>
        <div class="contenido1">
            <div class="colores">
                <section class="img_contenido">
                    <img src="img/img3.png" alt="">
                </section>
                <section class="text_contenido">
                    <h2>Los colores influyen en nuestra vida mucho más de lo que piensas.</h2>
                </section>
            </div>
        </div>
       

        <div class="contenido2">
            <div class="luces">
                <section class="text_contenido">
                    <h2>Aprende como la psicología del color puede cambiar tu vida por medio de las luces LED.</h2>
                </section>
                <section class="img_contenido">
                    <img src="img/img2.png" alt="">
                </section>
            </div>
        </div>
    

        <div class="contenido3">
            <div class="terapia">
                <section class="img_contenido">
                    <img src="img/img1.png" alt="">
                </section>
                <section class="text_contenido">
                    <h2>Descubre como la cromoterapia puede convertirte en una persona totalmente nueva.</h2>
                </section>
            </div>
        </div>
        
    </section>

    </main>

    <!-- PopUp -->

		<div class="overlay" id="overlay">
			<div class="popup" id="popup">

				<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
				<h3>¡Bienvenido!</h3>
				<h4 class="inicio">Te encuentras en LED: Emotions Power, tu herramienta personalizada para mejorar el control de las emociones.</h4>
				<img src="https://3.bp.blogspot.com/-j3NVG6VTQ34/XAHk5OhWC2I/AAAAAAAABfM/B9nhC1eOZ0wJtHQMEfJwdUmXvxCJXFdNACLcBGAs/s1600/emociones.gif" class="intensamente">
				<h5>Estamos seguros de que tendrás una experiencia agradable al visitarnos y al aprender más sobre como mejorar tu estado emocional.</h5>

				<div class="popup-b">
					<h4>Y recuerda, todo cambio empieza por un primer paso, ¡Y este es el tuyo!</h4>
				</div>
				
			</div>
		</div>

	</div>

    
    
</body>
</html>