{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/loto333.png' %}" sizes="16x16 24x24 36x36 48x48">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css'>
    <link rel="stylesheet" href="{% static 'CSS/iniciar.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <script src="{% static 'JS/gestionLogin.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>
<body>

    <!--Menu-->
    <header>
        <div class="contenedor__header">
            <div class="logo">
                <a href="{% url 'index' %}">
                    <img src="{% static 'img/logoblanco.jpg' %}" alt="">
                </a>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                        <li><a href="{% url 'servicio' %}">Nuestros Servicios</a></li>
                        <li><a href="{% url 'cromoterapia' %}">¿Qué es Cromoterapia?</a></li>
                        <!--<li><a href="Eliminar.html">Eliminar</a></li>-->
                        <!--<li><a href="Bucar.html">Buscar</a></li>-->
                    </ul>
                </nav>
                
            </div>
        </div>
    </header>

    <section>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
        <div class="square" style="--i:0;"></div>
        <div class="square" style="--i:1;"></div>
        <div class="square" style="--i:2;"></div>
        <div class="square" style="--i:3;"></div>
        <div class="square" style="--i:4;"></div>
        <div class="container">
            <div class="from">
            <h2>Iniciar Sesión</h2>
            <form>
                <div class="inputBox">
                <input id="correo" type="email" placeholder="Correo de Usuario">
                </div>
                <div class="inputBox">
                <input id="contraseña" type="password" placeholder="Contraseña">
                </div>
                <div class="inputBox" id="codeSpace"></div>
                <div id="respuesta"></div>
                <div class="inputBox" id="btnInicio">
                <input class="login" type="button" value="Iniciar Sesión">
                </div>

                <p class="forget"><a href="{% url 'recuperarPass' %}">¿Olvidaste tu contraseña?</a></p>
                <p class="forget"><a href="{% url 'registrarse' %}">¿No tienes una cuenta?<br>Registrate aquí.</a></p>
            </form>
            </div>
        </div>
        </div>
    </section>
</body>
</html>