<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/nosotros.css">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/loto333.png" sizes="16x16 24x24 36x36 48x48">
    <title>Nosotros</title>
</head>
<body>
    <!--Menu-->
    <header>
        <div class="contenedor__header">
            <div class="logo">
                <a href="index.html">
                    <img src="img/logoblanco.jpg" alt="">
                </a>
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="Servicios.html">Nuestros Servicios</a></li>
                        <li><a href="cromoterapia.html">¿Qué es Cromoterapia?</a></li>
                        <!--<li><a href="Eliminar.html">Eliminar</a></li>-->
                        <!--<li><a href="Bucar.html">Buscar</a></li>-->
                    </ul>
                </nav>

                <a href="login.html" class="btn_inicio">Iniciar Sesión</a>
                
            </div>
        </div>
    </header>



    <main>
        

        <section>

            <section class="contenedor sobre-nosotros">
                <h2 class="titulo">Nuestro Nombre</h2>
                <div class="contenedor-sobre-nosotros">
                    <div class="contenido-textos">
                        <p>LED: Surgió al juntar las iniciales de los integrantes de nuestro equipo, como también es la denominación en ingles de “diodo emisor de luz” 
                            (light-emitting diode), nuestra principal herramienta para la implementación de la cromoterapia en LED Emotions Power. También define la 
                            abreviatura que creamos en conjunto con el equipo de LED: “Lights to health Emotions Design”, lo que en español se traduce a “Diseño de Luces 
                            para sanar Emociones”, determinando nuestro principal producto y propósito.
                        </p>
    
                        <p>Emotions Power: Traducido al español como “Poder de las Emociones”, deseamos reflejar la importancia e influencia de las emociones en la vida 
                            cotidiana de cada persona, como parte fundamental de nuestro ser.
                        </p>
                    </div>
                    <div class="content-img"><img src="img/nameb.jpg" alt="" class="imagen-about-us"></div>

                </div>
            </section>
        </section>

        <h2 class="titulo">Visión y Misión</h2>


        <div class="fila">
            <div class="myCard">
                <div class="innerCard">
                    <div class="frontSide">
                        <p class="title">MISIÓN</p>
                    </div>
                    <div class="backSide">
                        <p>Comprendemos que cada vez hay más personas que tienen un desequilibrio emocional en sus vidas, 
                            debido a situaciones desfavorables e imprevistas, ya que el mundo es cada vez más caótico y estresante,
                            por lo que nos ofrecemos a ser un soporte emocional mediante nuestra asistencia virtual, basada en la empatía 
                            que sentimos por las personas que se encuentran en momentos de dificultad, con el fin de brindarles herramientas 
                            estratégicas que aportaran alivio y tranquilidad a su vida, y serán la escalera hacia el camino de la estabilidad
                            emocional, con el propósito de crear un mundo mejor desde el interior.</p>
                    </div>
                </div>
            </div>



            <div class="myCard2">
                <div class="innerCard2">
                    <div class="frontSide2">
                        <p class="title2">VISIÓN</p>
                    </div>
                    <div class="backSide2">
                        <p>Seremos una empresa reconocida en toda la nación por el impacto generado contribuyendo al mejoramiento de la calidad de vida,
                            distinguiéndonos por nuestra técnica alternativa, implementando el uso de la cromoterapia como una forma de sanación, para 
                            producir un cambio y un pensamiento positivo en las personas, teniendo en cuenta las dificultades de cada una, como propósito para el 2025..</p>
                    </div>
                </div>
            </div>
        </div>



    </main>



</body>
</html>