@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main{
    padding: 20px;
}


:root{
    --purpura_pastel: #6d50e1;
}
header{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}


.logo{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    padding-right: 200px;
    padding-left: 20px;

}

.logo img{
    width: 200px;

}


.menu{
    display: flex;
    align-items: center;

}

.menu nav{
    margin: 0px 20px;
}

.menu nav ul{
    display: flex;
}

.menu nav ul li{
    list-style: none;
    margin: 20px 16px;
}


.menu nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    position: relative;
}


.menu nav ul li a:hover{
    color: var(--purpura_pastel);
}


/* BOTON BUSQUEDA*/

.container-1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }


  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #4545461e;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    border-radius: 15px;


    
  }


  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }

 .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }

  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }



/*BOTON CERRAR SEION*/
.btn_inicio{
  padding-left: 10px;
  display: block;
  padding: 8px 20px;
  border: 2px solid var(--purpura_pastel);
  border-radius: 8px;
  font-weight: 500;
  margin: 0px 20px;
  
}

.btn_inicio:hover{
  color: rgb(255, 255, 255);
  background: var(--purpura_pastel);
}


/*BOTON GESTIONAR MULTIMEDIA*/
.btn_gestionar{
  background-color: #fff;
  padding-left: 10px;
  display: block;
  padding: 8px 40px;
  border: 2px solid var(--purpura_pastel);
  border-radius: 8px;
  font-weight: 500;
  margin: 0px 20px;
  height: 45px;
  
}

.btn_gestionar:hover{
  color: rgb(255, 255, 255);
  background: var(--purpura_pastel);
}


.dropdown {
  background-color: #ffffff;
  padding-left: 10px;
  display: block;
  padding: 8px 20px;
  border-radius: 8px;
  font-weight: 500;
  margin: 0px 20px;
}
.dropdown-content {
  
  display: none;
  position: absolute;
  width: 8%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {

  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: rgb(117, 5, 117);
}

/*MENU DESPLEGABLE*/

.icon__menu{
    width: 50px;
    height: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.icon__menu i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: #1783db;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid #2b7cbe9a;
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*FORMULARIO*/

.form{
    padding-top: 10px;
    padding-bottom: px;
    background-size: cover;
}

.formulario{
    height: 110px;
    background-size: cover;


}

.form-registro {
    width: 800px;
    background: #f2f1f8;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(16, 16, 16);
    box-shadow: 7px 13px 37px #000;
  }
  
  .form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #595b61;
    font-family: 'calibri';
    font-size: 18px;
    color: rgb(0, 0, 0);
  }
  
  .form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-registro a {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .form-registro a:hover {
    color: rgb(224, 11, 11);
    text-decoration: underline;
  }
  
  .form-registro .botons {
    display: block;
    width: 150px;
    margin-top: 40px;
    padding: 10px 20px;
    text-align: center;
    font-weight: 500;
    background: var(--purpura_pastel);
    color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms;
  }


  .form-registro .botons:hover{
    background: transparent;
    border: 2px solid var(--purpura_pastel) ;
    color: var(--purpura_pastel);
  }

  .submit {
    display: flex;
    flex-direction:row;

  }

/*Clases para usar en JavaScript*/

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}


@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
}